@model SportLigue.MainApp.Models.ViewModels.CreateMovieViewModel
@{
    ViewBag.Title = "Add Movie";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("AddMovie", "Movies", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Add new movie to library.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="release-date" class="col-md-2 control-label">Release date</label>
        <div class="col-md-10">
            <input type="date" id="@Html.NameFor(m => m.ReleaseDate)e" name="@Html.NameFor(m => m.ReleaseDate)" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DirectorName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DirectorName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="@Html.NameFor(m => m.Poster)">@Html.NameFor(m => m.Poster)</label>
        <div class="col-md-10">
            <input class="form-control" type="file" name="@Html.NameFor(m => m.Poster)" id="@Html.NameFor(m => m.Poster)" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send to server" />
        </div>
    </div>
}